<html>
  <head>
    <title>HELLO WORLD!</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
  </head>

  <body>
    <h1><%=message%></h1>
    <img src='img/grumpy-cat-no.jpg'>
  </body>
</html>